<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Notes List</title>
  <style>
        body {
            background-color: #1E90FF;
        }
        .btn {
            border-radius: 20px;
        }
        .table {
            border-radius: 10px;
            background-color: white;
        }
    </style>
</head>
<body>

<div class="container text-center mt-3">
  <form th:action="@{/note/add}" method="get">
    <button type="submit" class="btn btn-primary btn-lg">Add new Note</button>
  </form>
</div>

<div class="container text-center mt-5">
  <h1>Notes</h1>
  <table class="table table-success table-striped table-hover border-primary">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">content</th>
      <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
      <td th:text="${note.getId()}"></td>
      <td th:text="${note.getTitle()}"></td>
      <td th:text="${note.getContent()}"></td>
      <td>
        <form th:action="@{'/note/delete?id=' + ${note.id}}" method="post">
          <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
        <br/>
        <form th:action="@{'/note/edit'}" method="get">
          <input type="hidden" name="id" th:value="${note.id}"/>
          <input type="submit" class="btn btn-primary" value="Edit"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>
